<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student-Connect : Create Account</title>
  <link rel="stylesheet" href="css/banJumbotron.css">

  <!-- favicon -->
  <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<body>
  <form  action="/createAccountSuccessJumbotron" method="post">
  <div class="successJum">
    <div class="jumbotron jumbotron-fluid clearfix">
      <div class="container">
        <h1 class="display-4">Successfully created an account</h1>
        <p class="lead">Click login to get started</p>
          <button class="backbtn btn btn-light" name="button" type="submit">Login</button>
      </div>
    </div>
  </div>
  </form>
</body>

</html>
