<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Student-Connect : Create Account</title>

  <!-- favicon -->
  <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" href="css/styles.css">
  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/39acc06808.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <!-- bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <div class="create_account">

    <div class="top-level">
      <p class="sign_in"><a class="login_link" href="/">Sign In</a></p>
      <p class="vertical-line">|</p>
      <p class="create">Create Account</p>
    </div>

    <div class="middle-level">
      <h1 class="create-heading">Create new account</h1>
    </div>

    <div class="inputs">

      <form action="/create-account" method="post">

      <input type="text" name="FName" placeholder="First Name"> <br><br>

      <input type="text" name="LName" placeholder="Last Name"> <br><br>

      <input type="email" name="email" placeholder="Email" autocomplete="off"> <br><br>

      <input type="password" name="password" placeholder="Create Password" > <br><br>

      <input type="password" name="cpassword" placeholder="Confirm Password"> <br><br>

      <div class="buttons">
        <button type="submit" class="btn btn-light" name="Create Account button">Create account</button><br>
        <!-- <button type="submit" class="btn btn-dark" name="Login with google button">Log in with Google <i class="fa fa-google" aria-hidden="true"></i></button> -->
      </div>

      </form>

    </div>

    <div class="SuccessCreatedAccount">
      <p>Successfully created an account,
        click login to get started
      </p>
    </div>

    <div class="FaliureCreateAccount">
      <p>Failed to create account,
        password not the same as confirm password
      </p>
    </div>

  </div>

  <div class="images_section">
    <img class="People-img" src="Resources/Image_One.png" alt="Cannot find img"> <br>
    <h1 class="images-text_One">Welcome to Student Connect</h1>
    <p class="images-text_Two">Start your connecting journey with us</p>
    <h1 class="images-text_Three">Hi There!</h1>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="createAccount.js" charset="utf-8"></script>
</body>

</html>
