<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student-Connect : Landing</title>

  <link rel="stylesheet" href="css/landing.css">

  <!-- favicon -->
  <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- background image -->
  <style>
    /* .background-img {
      background-image: url("Resources/Image_One_Landing.png");
      background-size: 100%;
      height: 600px;
      margin: 0; */
    }
  </style>

  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/39acc06808.js"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700;800;900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

  <!-- bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<body>
  <section id="heading-section">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand px-5 brand-txt" href="">
        <i class="fa fa-comments icon" aria-hidden="true"></i>
        student connect
      </a>

      <div class="collapse navbar-collapse nav-links" id="">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active px-3">
            <a class="nav-link" href="#">About</a>
          </li>

          <li class="nav-item active px-3">
            <a class="nav-link" href="#">Categories</a>
          </li>

          <li class="nav-item active px-3">
            <a class="nav-link" href="#">Testimonials</a>
          </li>

          <li class="nav-item active px-3">
            <a class="nav-link" href="#">Contacts</a>
          </li>

          <li class="nav-item active px-3">
            <a class="nav-link" href="/reviews">Reviews</a>
          </li>

        </ul>

      </div>
    </nav>

    <div class=background-img>
      <h1 class=img-text>Network with students from your university</h1>
      <div class="slide-text">
        <p class="txt">"Peer networks can make us smarter, more engaged, and better connected. It makes the individual better at his/her job, and it can make industry-wide improvements through consensus and discourse over many topics."<br>
          <br>
          </p>

      </div>

      <div class="slide-text-two">
        <img class="img-landing" src="Resources/landing-img.jpg" alt="img-not-found">
      </div>

    </div>
  </section>

  <section id="middle-section">
    <h1 class="middle-heading">Communication Categories</h1>

    <a href="/friendship">
      <div class="friendship">
        <img class="friendship-img" src="Resources/Image_One_Friendship.png" alt="img-not-found">
        <p class="friendship-text">Friendships</p>
        <div class="friendship-text-two">
          <p class="friendship-text-three">Create friendships online that will last for a lifetime</p>
        </div>
    </a>

    </div>

    <a href="/relationships">
      <div class="romanticRelationships">
        <img class="romanticRelationships-img" src="Resources/Image_Three.png" alt="img-not-found">
        <p class="romanticRelationships-text">Romantic Relationships</p>
        <div class="romanticRelationships-text-two">
          <p class="romanticRelationships-text-three">Come get him or her, your soulmate is waiting for you</p>
        </div>
      </div>
    </a>

    <a href="/businesMarket">
      <div class="businessMarket">
        <img class="businessMarket-img" src="Resources/Image_Four.png" alt="img-not-found">
        <p class="businessMarket-text">Business Market</p>
        <div class="businessMarket-text-two">
          <p class="businessMarket-text-three">A platform to advertise your business to fellow students</p>
        </div>
      </div>
    </a>

    <a href="/invitation">
      <div class="invitation">
        <img class="invitation-img" src="Resources/Image_Five.png" alt="img-not-found">
        <p class="invitation-text">Invitation</p>
        <div class="invitation-text-two">
          <p class="invitation-text-three">Invite people from your events or go check out the latest events that you can attend</p>
        </div>
      </div>
    </a>

    <a href="/randomChat">
      <div class="randomChat">
        <img class="randomChat-img" src="Resources/Image_Six.png" alt="img-not-found">
        <p class="randomChat-text">Random Chat</p>
        <div class="randomChat-text-two">
          <p class="randomChat-text-three">Randomly chat with your fellow students about anything</p>
        </div>
      </div>
    </a>

  </section>

  <section id="final-middle-section">
    <div id="testimonials" class="carousel slide" data-bs-ride="carousel">
      <div class="container carousel-inner">
        <div class="carousel-item active">
          <img class="Laughter-img" src="Resources/Laughter.jpg" alt="img-not-found">
          <h6>~Sammy Sossa</h6>
          <h1 class="carousel-txt">I met my besfriend via student connect</h1>
        </div>

        <div class="carousel-item">
          <img class="Laughter-img" src="Resources/Husband&Wife.jpg" alt="img-not-found">
          <h6>~Nicolette Hansan</h6>
          <h1 class="carousel-txt-two">Met my husband via student connect</h1>
        </div>

        <div class="carousel-item">
          <img class="Laughter-img" src="Resources/Business-Partners.jpg" alt="img-not-found">
          <h6>~Spaghetti Dwayn</h6>
          <h1 class="carousel-txt-three">Student connect increased my product sales</h1>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#testimonials" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonials" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>

    <section id="footer">
      <div class="footerComponents">
        <h5 class="footerLogoName"><i class="fa fa-comments footerIcon" aria-hidden="true"></i> student connect</h5>
        <p class="copyright-txt"><i class="fa fa-copyright" aria-hidden="true"></i> 2022 A-MAK</p> <p class="copyright-txtP2">TECHNOLOGIES</p>
      </div>

      <div class="company">
        <h5 class="footerHeadOne">Company</h5>
        <a class="companylinkOne" href="#">About Us</a> <br>
        <a class="companylinkTwo" href="#">Contact Us</a> <br>
        <a class="companylinkThree" href="#">Partners</a> <br>
      </div>

      <div class="socials">
        <h5 class="footerHeadThree">Socials</h5>
        <a class="companylinkOne" href="#">Linkedin <i class="fa fa-linkedin Icon link" aria-hidden="true"></i></a> <br>
        <a class="companylinkTwo" href="#">Facebook <i class="fa fa-facebook Icon face" aria-hidden="true"></i> </a> <br>
        <a class="companylinkThree" href="#">Instagram <i class="fa fa-instagram Icon" aria-hidden="true"></i></a> <br>
        <a class="companylinkFour" href="#">Twitter <i class="fa fa-twitter Icon twi" aria-hidden="true"></i></a> <br>
      </div>

      <div class="legal">
        <h5 class="footerHeadTwo">Legal</h5>
        <a class="companylinkOne" href="#">Support</a> <br>
        <a class="companylinkTwo" href="#">Privacy Policy</a> <br>
        <a class="companylinkThree" href="#">Terms of Us</a> <br>
      </div>

    </section>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="landing.js" charset="utf-8"></script>
</body>

</html>
