<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Categories : Report</title>
  <link rel="stylesheet" href="css/report.css">

  <!-- favicon -->
  <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

  <!-- bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<body>

  <form action="/report" method="post">
    <div class="reportSection">
      <h1 class="reportTxt">Report</h1>
      <label class="reportUsername">UserName</label> <br>
      <input type="text" name="reportUsername"> <br> <br>

      <label class="reportPerpetrator">Name of the perpetrator</label> <br>
      <input type="text" name="reportPerpetrator"> <br> <br>

      <label class="reportReason">Reason for report</label> <br>
      <textarea name="reportReason" rows="8" cols="80"></textarea> <br> <br>

      <button class="btn btn-light" type="submit" name="SubmitButton">Submit</button>
    </div>
  </form>

</body>

</html>
