<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>student-connect-reviews</title>
    <link rel="stylesheet" href="css/reviews.css">

    <!-- favicon -->
    <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="reviewSection">
      <h1>Reviews</h1>
      <form class="" action="/reviews" method="post" enctype="multipart/form-data">

      <label>Username</label> <br>
      <input class="username" type="text" name="username" placeholder="Enter your username"> <br> <br>

      <label for="image">Upload your picture</label> <br>
      <input type="file" id = "image" name="image"> <br> <br>

      <label>Review</label> <br>
      <textarea name="review" rows="8" cols="50" placeholder="Explain reason for report"></textarea> <br> <br>

      <button class="btn btn-light" type="submit">Submit</button>

      </form>

    </div>

  </body>
</html>
