<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student-Connect : Admin</title>
  <link rel="stylesheet" href="css/theWatcher.css">

  <!-- favicon -->
  <link href="Resources/favicon.ico" rel="icon" type="image/x-icon" />

</head>

<body>

  <h1 class="userTitle">The Watcher</h1>

  <div class="adminSection">
  <a href="/analytics">
    <h3 class="text-analytics">Analytics</h3>
    <div class="analytics">
      <img class="img-analytics" src="Resources/analytics.png" alt="img-not-found">
    </div>
    </a>

    <a href="/connectionsData">
    <h3 class="text-connections">Connections</h3>
    <div class="connections">
      <img class="img-connections" src="Resources/images.png" alt="img-not-found">
    </div>
    </a>

    <a href="/reportsData">
    <h3 class="text-reports">Reports</h3>
    <div class="reports">
      <img class="img-reports" src="Resources/reports.png" alt="img-not-found">
    </div>
    </a>

    <a href="/landing">
    <h3 class="text-general">General</h3>
    <div class="general">
      <img class="img-general" src="Resources/general.png" alt="img-not-found">
    </div>
    </a>
    </div>

    <a href="/ban">
    <h3 class="reportsText">Reports Action</h3>
    <div class="reportsAction">
      <img class="img-ban" src="Resources/ban.png" alt="img-not-found">
    </div>
    </a>

</body>

</html>
