/* Upper Section */
html{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 42%, rgba(29,57,165,0.7572071064754027) 61%);
  display: flex;
}

#upperSection{
  background-color: #150050;
  height: 600px;
  width: 1263px;
}

.FriendshipQoute{
  color: #fff;
  font-family: "Montserrat";
  position: absolute;
  bottom: 340px;
  left: 950px;
  width: 20%;
  height: 120px;
  font-size: 1.5rem;
}

.startConnection{
  font-family: 'Montserrat', black 900;
  font-weight: 800;
  color: #fff;
  position: absolute;
  left: 430px;
  margin-top: 20px;
}

.stc{
  color: #fff;
  position: relative;
  bottom: 590px;
  left: 100px;
}

#categorySlideTips{
  position: relative;
  top: 30px;
  right: 10px;
}

.categoryTips{
  font-size: 1.5rem;
  width: 200%;
  font-weight: bold;
  position: relative;
  bottom: 10px;
  right: 90px;
}

.background-img{
  width: 100%;
  height: 600px;
  opacity: 0.5;
}

.CategoryHeading{
  font-family: 'Montserrat', black 900;
  font-weight: 800;
  color: #fff;
  position: absolute;
  bottom: 520px;
  right: 500px;
}

.categoryIntro-txt{
  font-family: 'Montserrat', black 900;
  font-weight: 900;
  color: #fff;
  position: absolute;
  bottom: 260px;
  left: 100px;
  width: 50%;
  font-size: 3.5rem;
}

.categorySlide{
  height: 150px;
  width: 400px;
  color: #fff;
  position: relative;
  left: 490px;
  bottom: 230px;
}

.friendshipSlide-txt{
  color: #fff;
}

/* Buttons */

.connectionButtons{
  position: absolute;
  top: 700px;
  left: 100px;
}

.disconnect{
  position: absolute;
  left: 928px;
}

.report{
  position: absolute;
  left: 490px;
}

.User1{
  background-color: black;
  height: 500px;
  width: 530px;
  border: solid 4px #1e282f;
  position: absolute;
  left: 100px;
  top: 800px;
}

.User2{
  background-color: #153462;
  height: 500px;
  width: 530px;
  border: solid 4px #1e282f;
  position: absolute;
  left: 630px;
  top: 800px;
}

#videoTwo{
  position: relative;
  bottom: 20px;
  width: 600px;
}

/* Rejection Section */

.rejectionSection{
  position: absolute;
  top: 1350px;
  left:100px;
  /* visibility: hidden; */
}

.tipsTestimonial{
  font-family: "Montserrat";
  color: #fff;
  width: 30%;
  position: absolute;
  right: 200px;
  bottom: 20px;
}

.imgRejection{
  position: relative;
  left: 550px;
  bottom: 310px;
  width: 30%;
  height: 100%;
  border-radius: 10% / 50%;
}

.rejection-txt{
 font-family: 'Montserrat', black 900;
 font-weight: 900;
 color: #fff;
 width: 40%;
 position: relative;
 left: 100px;
 bottom: 10px;

}

.rejectionSmalltxt{
  border: 0.5rem solid navy;
  border-right: none;
  border-bottom: none;
  color: #fff;
  width: 30%;
  position: relative;
  left: 100px;
}

.container{
  padding: 150px;
  padding-bottom: 300px;
}

.carousel-txt{
  text-align: center;
  width: 70%;
  position: absolute;
  left: 165px;
  top: 40px;
}

.carousel-txt-two{
  text-align: center;
  width: 70%;
  position: absolute;
  left: 165px;
  top: 40px;
}

.carousel-txt-three{
  text-align: center;
  width: 70%;
  position: absolute;
  left: 165px;
  top: 40px;
}

.Laughter-img{
  width: 18%;
  height: 185px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 450px;
  padding-top: 15px;
}

h6{
  position: absolute;
  left: 630px;
  top: 25px;
}

.rejection-heading{
  font-family: 'Montserrat', black 900;
  font-weight: 900;
  color: #fff;
  position: absolute;
  bottom: 300px;
  right: 120px;
}

#testimonials{
  margin-top: 30px;
}
